

 <h1 class="center-h">Edit Merchant</h1>



<div class="entry">

  <form class="tr_form" action="/merchants/<%= @merchant.id%>" method="post">
 <p> <label for="name">Merchant:</label>
    <input  type="text" name="name" id="name" value="<%= @merchant.name %>"></p>

  <br>
  <div class="opt">
     <input type='submit' value="Update Merchant">
  </div>
  </form>

<br>
   <div class="opt-back">
   <form action="/merchants">
        <input class="opt-width" type="submit" value="Back to Merchants">
   </form>
   </div>
</div>



