




 <h1 class="center-h">Merchant</h1>
<div class="listing">
   
    <% @merchants.each do |merchant| %>  
 
    <p> <a href="/merchants/<%= merchant.id %>">  <%= merchant.name %></a> </p>

  <% end %>
</div>
  