<a href="/merchants">View listed merchants</a>
<a href="/trainers/new">Add new merchants</a>
<a href="/items">View listed items</a>
<a href="/items/new">Add new items</a>
<a href="/transactions">View transactions</a>
<a href="/transactions/new">Add new transaction</a>