
<ul>
  <li><a href="/merchants">View listed merchants</a></li>
  <li><a href="/merchants/new">Add new merchants</a></li>
  <li><a href="/items">View listed items</a></li>
  <li><a href="/items/new">Add new items</a></li>
  <li><a href="/transactions">View transactions</a></li>
  <li><a href="/transactions/new">Add new transaction</a></li>
</ul>