

<h1 class="center-h">Edit Expense</h1>



<div class="entry">

  <form class="tr_form" action="/items/<%= @item.id %>" method="post">
 <p> <label for="name">Expense:</label>
    <input  type="text" name="name" id="name" value="<%= @item.name %>"></p>

  <br>
  <div class="opt">
     <input type='submit' value="Update Expenses">
  </div>
  </form>

<br>
   <div class="opt-back">
   <form action="/items">
        <input class="opt-width" type="submit" value="Back to Expenses">
   </form>
   </div>
</div>



