





<h3>Add New Expenses</h3>
<br>
<div class="entry">
  

  <form class="tr_form" action="/items" method="post">

   <p> <label for="name">Name:</label>
    <input  type="text" name="name"></p>


    <br>
    <div class="opt">
      <input class="opt" type='submit' value="Create New Expense">
    </div>
  </form>
<br>
   <div class="opt-back">
   <form action="/">
        <input class="opt-width" type="submit" value="Back to Home Page">
   </form>
   </div>
</div>
