<h1 class="center-h">Do you want to edit <span class="specific"><%= @item.name %></span> expense?</h1>

<div class="home">

<table style="width:50%">

 <tr>
   <td>   <form action="/items/<%= @item.id %>/edit">
        <input type="submit" value="Edit Expense">
   </td> </form>
    <td> <form action="/items">
        <input type="submit" value="Back to Expenses">
    </td> </form> 
  </tr>

</table>
</div





