<div>
<h3>Transactions Listing</h3>
<table>
 <tr>
    <th>Date</th>
    <th>Item</th> 
    <th>Merchant</th>
    <th>Amount (&#163;)</th>
  </tr>
<% @transactions.each do |transactions| %>  
  <tr>
    <td><%= transactions.tr_date %> </td>
    <td><%= transactions.item.name %> </td> 
    <td><%= transactions.merchant.name %> </td>
    <td><%=  sprintf('%.2f', transactions.amount) %> </td>
  </tr>

<% end %>
</table>
</div>
