


<div class="home">

<table style="width:50%">

 <tr>
   <td>   <form action="/transactions/<%= @transaction.id %>/edit">
        <input type="submit" value="Edit Transaction">
   </td> </form>
    <td> <form action="/transactions">
        <input type="submit" value="Back to Transactions">
    </td> </form> 
  </tr>

</table>
</div